{% extends 'base.html' %}
{% load humanize %}
{% block title %}{{ block.super }}| {{ object.title }}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-lg-8">
    <!-- Title -->
    <h1 class="mt-4">{{ object.title }}</h1>
    <!-- Author -->
    <p class="lead">
    by
    {% if object.user.get_full_name %}
    <a href="/?author={{ object.user }}">{{ object.user.get_full_name }}</a>
    {% else %}
    <a href="/?author={{ object.user }}">{{ object.user.username }}</a>
    {% endif %}
    </p>

    <hr>
    <!-- Date/Time -->
    <p>Posted on, {{ object.created_at|naturaltime }}</p>
    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="{{ object.image.url }}" alt="{{ object.title }}">
    <hr>

    <!-- Post Content -->
    <p class="lead">{{ object.details }}</p>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Tipo de publicación</td>
          <td>{{ object.title }}</td>
        </tr>
        <tr>
          <td>Categoria:</td>
          <td>
            {% for cat in object.get_categories %}
            <a href="/?cat={{ cat }}">{{ cat }}</a>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>Punto de reunion</td>
          <td>{{ object.location }}</td>
        </tr>
        <tr>
          <td>Precio</td>
          <td>s/{{ object.price }} </td>
        </tr>
        <tr>
          <td>Aforo</td>
          <td>{{ object.persons }}</td>
        </tr>
        <tr>
          <td>Puntuación</td>
          <td>{{ object.taste }} de 10</td>
        </tr>
        <tr>
          <td>Likes</td>
          <td>{{ object.likes_count }}</td>
        </tr>
        <tr>
          <td>Alumnos Matriculados</td>
          <td>{{ object.enrolled_students.count }}</td>
        </tr>
      </tbody>
    </table>

    <hr>

    {% if user.is_authenticated %}
    {% if user.profile in object.enrolled_students.all %}
    <p>Ya estás matriculado en este curso.</p>
    {% else %}
    <!-- Botón para matricularse -->
    <form action="{% url 'enroll' object.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Matricularse</button>
    </form>
    {% endif %}
    {% else %}
    <p>Inicia sesión para matricularte en el curso.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
    {% endif %}

    <hr>

    <!-- Comments Form -->
    <div class="card my-4">
      <h5 class="card-header">Leave a Comment:</h5>
      <div class="card-body">
        <!-- Formulario de comentarios -->
      </div>
    </div>

    <!-- Comentarios existentes -->
    {% if object.comments.all %}
    {% for comment in object.comments.all %}
    <div class="media mb-4">
      <!-- Detalles de los comentarios -->
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}

