{% extends 'base.html' %}
{% block title %}
{% if 'update' in request.path %}{{ block.super }}| Actualizar curso{% else %}{{ block.super }}| Crear nuevo curso{% endif %}
{% endblock title %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 my-4">
    <div class="card bg-dark text-white" style="background-color: #303030;">
      <h5 class="card-header text-center bg-primary rounded-top">
        {% if 'update' in request.path %}
          <span style="color: white;">Actualizar curso</span>
        {% else %}
          <span style="color: white;">Crear curso</span>
        {% endif %}
      </h5>
      <div class="card-body" style="background-color: #303030;">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-secondary" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>

  {% endblock content %}
