{% extends 'base.html' %}
{% load humanize %}
{% block title %} JuniorMentor| Home{% endblock title %}
{% block content %}


<div class ="row flex-row flex-lg-row">
  <div class = "col-lg-8">
    <div class="courses-grid">

      {% if object_list %}


      {% for obj in object_list %}
      <div class="course">
        <div class="">
          <img src="/static{{ obj.image.url }}" alt="">
        </div>
        <div class="course-body">
          <span>
            <i class="ri-group-fill"></i>
            {{ obj.persons }} Estudiantes
            <div style="float: left;">
              <p>
              <div class="float-right user-icons">
                {% if obj in user_liked_posts %}
                <form action="{% url 'home' %}" id='like_form{{ obj.id }}' method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="unlike" value="{{ obj.id }}">
                  <a href="javascript:{}"
                     onclick="document.getElementById('like_form{{obj.id}}').submit(); return false;">
                    <i class="fas fa-thumbs-up"></i></a>
                </form>
                {% else %}
                <form action="{% url 'home' %}" id='unlike_form{{ obj.id }}' method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="like" value="{{ obj.id }}">
                  <a href="javascript:{}"
                     onclick="document.getElementById('unlike_form{{obj.id}}').submit(); return false;">
                    <i class="far fa-thumbs-up"></i></a>
                </form>
                {% endif %}
              </div>
              </p>
            </div>
          </span>

          <div class="course-info">

            <h3 class="course-title">
              <a href="{% url 'detail' obj.slug %}" style = "color: #fff;">{{ obj.title }}</a>
            </h3>



            <p class="card-text">

            <div class="row">
              <div class="col-md-6">
                <b>Calificación:</b> {{ obj.taste }} de 10
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <b>Categoría: </b>
                {% for cat in obj.get_categories %}
                <a href="?q={{ request.GET.q }}&cat={{ cat }}">{{ cat }}</a>
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <b>Likes:</b> {{ obj.likes_count }}
              </div>
            </div>
            </p>

          </div>

          <div class="course-footer">
            <span class="course-price"> S/.{{ obj.price|intcomma }} </span>
            <a href="{% url 'detail' obj.slug %}" class="btn"> Ver </a>
          </div>

        </div>
      </div>
      {% endfor %}


    </div>


    {% else %}
    <div class = "empty-courses">
      <P class="btn btn-warning ml-3">Lo sentimos !! Curso no encontrado...</P>
    </div>
    {% endif %}






    <!-- Pagination -->
    <h1></h1>
    <h1></h1>
    <h1></h1>
    {% if is_paginated %}
    <p></p>
    <ul class="pagination justify-content-center mb-4">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; Anterior</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="">&larr; Anterior</a>
      </li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente &rarr;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Siguiente &rarr;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>

  <div class="col-lg-4 order-lg-2">
    <div class="sticky-widgets">
      {% block widgets %}{% include 'partials/_widgets.html' %}{% endblock widgets %}
    </div>
  </div>



</div>
</div>
{% endblock content %}

