{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{ block.super }}| Home{% endblock title %}
{% block content %}
     <section class="home">
         <div class="home-data">
           <span>Mejores Cursos Online</span>
           <h1 class="home-title">La Mejor Educacion Desde tu Casa</h1>
         </div>
     </section>

     <section class="about seccion">
          <div class="container">
               <img src="{% static 'img/about.jpg' %}" alt="">
               <div class="about-data">
                    <div class="about-heading">
                         <h2 >Nosotros</h2>
                         <span>Innovadora Manera de Aprender</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, culpa maiores. Accusantium, officiis culpa dolorem dolorum provident porro animi, inventore tempora dicta blanditiis fuga a velit laboriosam sit ut facilis.
                    Explicabo rerum exercitationem reprehenderit aspernatur magni iste ea tempore obcaecati officiis tempora mollitia, consectetur pariatur consequatur quod impedit eius ratione accusantium itaque. Dicta ut facilis eum at? Dolores, reprehenderit culpa?</p>
                    <a href="/about" class="btn"> Leer Mas </a>
               </div>
          </div>
     </section>

     <section class="courses">
          <div class="container">
               <div class="courses-heading">
                    <h2 >Nosotros</h2>
                    <span>Innovadora Manera de Aprender</span>
               </div>

               <div class="courses-grid">
                    <div class="course">
                         <div class="course-img">
                              <img src="{% static 'img/course-1.jpg' %}" alt="">
                         </div>
                         <div class="course-body">
                              <span>
                                   <i class="ri-group-fill"></i>
                                   25 students
                              </span>

                              <div class="course-info">
                                   <h3 class="course-title">Web Design & Development courses for beginner</h3>
                                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laborum ratione nihil, eveniet, alias labore magnam corporis nesciunt inventore</p>
                              </div>

                              <div class="course-footer">
                                   <span class="course-price">$99</span>
                                   <a href="" class="btn"> Ver </a>
                              </div>
                         </div>
                    </div>

                    <div class="course">
                         <div class="course-img">
                              <img src="{% static 'img/course-2.jpg' %}" alt="">
                         </div>
                         <div class="course-body">
                              <span>
                                   <i class="ri-group-fill"></i>
                                   25 students
                              </span>

                              <div class="course-info">
                                   <h3 class="course-title">Web Design & Development courses for beginner</h3>
                                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laborum ratione nihil, eveniet, alias labore magnam corporis nesciunt inventore</p>
                              </div>

                              <div class="course-footer">
                                   <span class="course-price">$99</span>
                                   <a href="" class="btn"> Ver </a>
                              </div>
                         </div>
                    </div>

                    <div class="course">
                         <div class="course-img">
                              <img src="{% static 'img/course-3.jpg' %}" alt="">
                         </div>
                         <div class="course-body">
                              <span>
                                   <i class="ri-group-fill"></i>
                                   25 students
                              </span>

                              <div class="course-info">
                                   <h3 class="course-title">Web Design & Development courses for beginner</h3>
                                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laborum ratione nihil, eveniet, alias labore magnam corporis nesciunt inventore</p>
                              </div>

                              <div class="course-footer">
                                   <span class="course-price">$99</span>
                                   <a href="" class="btn"> Ver </a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
{% endblock content %}
