<header class="header">
     <nav class="nav container">
          <div class="logo">
               <a href="{% url 'home' %}">Junior Mentor</a>
          </div>

          <div class="nav-lista">
               <a href="/home" class="nav-link">Home</a>
               <a href="/about" class="nav-link">About</a>
               <a href="/courses" class="nav-link">Courses</a>
               <a href="/teachers" class="nav-link">Teachers</a>
          </div>

          <div class="login">
               <a href="/login" class="btn"> Registrarse </a>
          </div>
     </nav>
</header>


<!-- {% if request.user.is_authenticated %} -->
<!-- {% endif %} -->
