<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Food Bank">
    <meta name="author" content="Mahmudul Alam">

    <title>{% block title %}FoodBank {% endblock title %}</title>
    <!-- css -->
    {% include 'partials/_styles.html' %}

  </head>

  <body>
    <!-- navigation -->
    {% include 'partials/_navbar.html' %}

    <!-- main content -->
    <main class="main">
      {% block content %}{% endblock content %}

      <!-- widgets -->
    </main>

    <!-- footer -->
    {% include 'partials/_footer.html' %}
  </body>
</html>
